@keyframes animH3 {
    0% { opacity: 0; }
    100% { opacity: .7; }
}

@keyframes FadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes FadeOut {
    0% { opacity: 1; }
    100% {opacity: 0; }
}

@keyframes SlideFromBelow {
    0% { margin-bottom: -100px; }
    100% { margin-bottom: 0; }
}

@keyframes SlideFromLeft {
    0% { margin-left: -70px; }
    100% { margin-left: 0px; }
}

@keyframes SlideFromRight {
    0% { margin-right: -200px; }
    100% { margin-right: 0px; }
}

@keyframes Linea {
    0% { width: 0rem; opacity: .1; }
    100% { width: 40rem; opacity: .1;}
}

@keyframes MoveDown {
    0% { margin-top: 0px; }
    100% { margin-top: 60px; }
}

@keyframes MoveUp {
    0% { margin-bottom: 0px; }
    100% { margin-bottom: 100px; }
}

@keyframes MoveSliderLeft {
    0% { margin-left: 0; }
    100% { margin-left: -300px; }
}