#inicio {
    margin: 0 auto;
    width: 65%;
    height: 54rem;
}

.container {
    margin-top: 1rem;
    width: 40%;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Candara', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    color: #fff;
    animation: FadeIn 2s 1, SlideFromLeft 2s 1;
}

.container h3 {
    font-family: 'Candara', sans-serif;
    margin-top: 0.5rem;
    color: #fff;
    opacity: .7;
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
    animation: FadeIn 1s 1 ease-out, SlideFromRight 1.5s 1;
}

#separador {
    position: absolute;
    top: 25%;
    left: 50%;
    height: 1px;
    width: 40rem;
    transform: translate(-50%, -50%);
    opacity: .1;
    background: #fff;
    border: 1px solid white;
    animation: Linea 1s 1;
    border-radius: 10px;
}

.legend {
    margin-top: 5rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #fff;
    line-height: 2rem;
    letter-spacing: 3px;
    font-size: 1em;
    animation: FadeIn 1s 1 ease-out;
}

.button {
    position: relative;
    bottom: 0;
    display: block;
    width: 13.5rem;
    line-height: 3rem;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background-color: rgb(50, 160, 95);
    border-radius: 10rem;
    font-size: 1.2rem;
    font-family: 'Candara', sans-serif;
    animation: FadeIn 2s 1;
}


#inicio .button {
    margin-top: 5rem;
}

.button:hover, #text-area a:hover {
    transition: all .5s;
    background-color: rgb(192, 106, 49);
    cursor: pointer;
}
