@import 'header.css';
@import 'inicio.css';
@import 'proyectos.css';
@import 'acerca.css';
@import 'contacto.css';
@import 'animations.css';
@import 'responsive.css';

@font-face {
    font-family: 'Candara';
    src: url(../fonts/Candara.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: rgb(10, 30, 40);
}