@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --first-color: #010b26;
    --second-color: rgb(78, 64, 141);
    --third-color: #000;
}

html{
    scroll-behavior: smooth;
}

header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 3.5rem;
}

#nav-bar{
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: 100%;
}

#menu{
    position: absolute;
    right: 0;
    display: flex;
    width: 40%;
}

#menu li{
    flex: 1;
    padding-left: 3rem;
    line-height: 3.5rem;
    animation: FadeIn 2s 1;
}

#menu li:hover a{
    transition: all .4s;
    color: 	rgb(78, 64, 141);
}

#menu li a{
    color: #010b26;
    font-family: 'PT Serif', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
}

#burger{
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
}

#inicio {
    position: relative;
    height: 50rem;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(1,11,38,1) 33%, rgba(7,35,115,1) 100%);
}

#banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 75%;
    margin: 0 auto;
}

#text-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;
}

#text-area p {
    position: absolute;
    width: 100%;
    height: auto;
    color: #d1d5df;
    line-height: 2.7rem;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: justify;
    animation: FadeIn 2s 1, SlideFromLeft 1.5s 1;
    padding-left: 1rem;
}

.button {
    position: absolute;
    bottom: 5rem;
    width: 14rem;
    font-size: 15px;
    letter-spacing: 4px;
    background-color: #062068;
    padding: 1rem;
    margin-left: 1rem;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', serif;
    animation: FadeIn 1s 1, SlideFromBelow 1s 1;
}

.button:hover {
    transition: all .6s;
    background-color: rgb(50, 50, 120);  
}

#proyectos {
    background: var(--second-color);
    width: 100%;
    height: 60rem;
}

#card-container {
    width: 60%;
    height: 50rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid white;
}

#contacto {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 60%;
    height: 50%;
    z-index: 1;
    background: #fff;
    border: 1px solid gray;
    animation: FadeIn 1s 1;
}

#img-container {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;
    padding-top: 2rem;
}

#btn-up {
    display: none; 
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 1;
}

#btn-up:hover {
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: yellow;
}

@keyframes FadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes FadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes SlideFromAbove {
    0% { margin-top: -40px; }
    100% { margin-top: 0}
}

@keyframes SlideFromBelow {
    0% { margin-bottom: -50px; }
    100% { margin-bottom: 0; }
}

@keyframes AppearFromLeft {
    0% { margin-left: -75px; }
    100% { margin-left: 0; }
}

@keyframes SlideFromLeft {
    0% { margin-left: -100px; }
    100% { margin-left: 0px; }
}

/* @media (max-width: 920px){
    #header-content {
        width: 90%;
    }

    #burger{
        position: absolute;
        right: 0;
        display: block;
        animation: FadeIn 1s 1;
    }

    #menu{
        display: none;
    }

    #bk {
        background-image: none;
    }

    #inicio {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #banner-content {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
        height: 100%;
        border: 5px solid yellow;
    }

    #projects-slider {
        width: 200px;
        height: 200px;
    }

    #text-area {
        width: 100%;
    }

    #text-area p {
        width: 100%;
        height: 85%;
        padding-top: 7rem;
        line-height: 2rem;
    }

    #text-area a {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0);
    }
} */