@import './animation.css';
@import './fonts.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-weight: lighter;
    color: #fff;
}

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.center-horizontally { margin: 0 auto; }
.center-vertically { margin: auto 0; }
.center-both { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.border-visible { border: 1px solid gray; border-radius: 4px; }

body {
    background-color: #1F1139;
    overflow-y: scroll;
}

.nav-bar {
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
}

.logo {
    font-size: 25px;
    font-family: Constantia;
    cursor: pointer;
}

.logo:hover a {
    transition: all .4s;
    color: #FF693A;
}

.menu {
    width: 35%;
    align-self: flex-end;
}

.menu-item {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-family: Corbel;
    flex: 1;
    border-radius: 2px;
}

.menu-item:hover {
    transition: all .4s;
    background-color: #FF693A;
}

#menu-icon {
    display: none;
}

#menu-icon div {
    width: 40px;
    height: 3px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 2px;
}

.change #menu-icon div:first-child {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change #menu-icon div:nth-child(2) {
    opacity: 0;
}

.change #menu-icon div:last-child {
    transform: rotate(45deg) translate(-8px, -8px);
}

.container {
    width: 40%;
    padding: 2rem 0rem;
    animation: FadeIn 2s 1;
}

.titulo {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: Corbel;
}

.subtitulo {
    font-size: 20px;
    font-family: Corbel;
    letter-spacing: 1px;
    opacity: .7;
}

.button {
    background-color: #3A63FF;
    border-radius: 3px;
    font-family: Corbel;
    color: #fff;
    outline: none;
    border: none;
}

.button:hover {
    cursor: pointer;
    transition: all .4s;
    background-color: #FF693A;
}

.big-button {
    padding: 1rem 3rem;
}

.small-button {
    margin: 0.5rem 0.5rem;
    padding: 1rem 0.5rem;
}

#separador {
    width: 100%;
    margin: 1rem auto;
    height: 1px;
    background-color: lightgray;
    animation: Stretch 1s 1 linear;
}

.text {
    font-size: 18px;
    line-height: 2rem;
    font-family: Constantia;
    padding: 1rem 0 2rem 0;
}

.card {
    margin: 1rem 0;
    width: 100%;
    padding: 1rem 2rem;
}

.screenshot {
    width: 350px;
    height: 200px;
    background-color: black;
}

.text-area {
    padding: 0 1rem;
    width: 400px;
}

.button-area {
    width: 150px;
}

#about-content {
    margin-top: 2rem;
    display: flex;
}

aside:first-child {
    flex: 1;
    padding: 0 1rem 0 5rem;
}

aside:last-child {
    flex: 2;
    padding: 0 5rem 0 1rem;
}

#profile-pic {
    width: 250px;
    height: 200px;
    background-color: black;
}

.list {
    flex: 1;  
    font-family: Constantia;
}

.list li {
    margin: 1rem 0;
    padding: 5px;
    font-family: Corbel;
    background-color: #FF693A;
}

form {
    margin: 4rem auto 0 auto;
    width: 60%; 
    font-family: Corbel;
}

form label {
    text-align: left;
    margin-bottom: 5px;
}

.field {
    outline: none;
    border: none;
    resize: none;
    padding: 1rem;
    color: gray;
    border-radius: 1px;
    margin-bottom: 2rem;
    font-family: Corbel;
}

